<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletProduit</servlet-name>
        <servlet-class>Controller.ServletProduit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCategorie</servlet-name>
        <servlet-class>Controller.ServletCategorie</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ServletProduit</servlet-name>
        <url-pattern>/ServletProduit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCategorie</servlet-name>
        <url-pattern>/ServletCategorie</url-pattern>
    </servlet-mapping>
   
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <el-ignored>false</el-ignored>
        </jsp-property-group>
    </jsp-config>
</web-app>
